/*Header Section*/
*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}
.navbar{
	width: 100%;
	background-color:  #C2746B;
	display: flex;
	justify-content: space-around;
	align-items: center;	
	font-family: 'Poppins', sans-serif;
}
img{
    width: 140px;
    height: 140px;
}
.menu{
	flex-grow: 0.3;
}
.menu ul{
	display: flex;
	align-items: center;
	justify-content: space-between;
    list-style-type: none;
}
.menu ul li a{
	text-decoration: none;
	color: #FFF9DA;
    font-weight: 550;
	padding: 5px 12px;
	letter-spacing: 2px;
	font-size: 22px;
}
.menu ul li a:hover{
	border-bottom: 3px solid #D6CA83;
	transition: 0.4s;
} 
.login a{
	text-decoration: none;
	color: #FFFCF9;
	font-size: 18px;
	border-radius: 12px;
	padding: 12px 30px;
	border: 2px solid #D6CA83;
}
.login a:hover{
	background-color: #DEC77C;    
	transition: 0.6s;
    color: #6e4c0d;	
	font-weight: bold;
}


/*Content*/
.aboutus-body{
    width: 100%;
	height: 1590px;
	background-color: #ECECEC;
	padding: 60px 0;
}
.container{
    width: 80%;
    margin: 0px auto;
}
.title h1{
    text-align: center;	
    margin-bottom: 50px;
	font-family: 'Libre Caslon Display', sans-serif;
	text-transform: uppercase;
    font-size: 55px;
	color:  #a4133c;
}
.article{
    float: left;
    width: 55%;
	padding: 45px 20px 0 30px;
}
.image-section{
    float: right;
    width: 40%;
}
.image-section img{
    width: 450px;
    height: 450px;
	border-radius: 10px;
}
.content .article .h3-1{
	font-family: 'Roboto Flex', sans-serif;
	letter-spacing: 0.8px;	
    font-size: 30px;
	margin-bottom: 25px;
}
.content .article .h3-2{
	font-family: 'Roboto Flex', sans-serif;
	letter-spacing: 0.8px;	
    font-size: 23px;
}
.content .article p{
    margin: 30px 0;
    color: #333;
	text-align: justify;
	font-family: 'Roboto Flex', sans-serif;
	line-height: 30px;
	font-size: 20px;
}
cite{
	font-family: 'Roboto Flex', sans-serif;
	font-size: 14px;
	color: #515859;
}
hr{
	width: 90%;
	margin: 10px auto;
}
.body-members{
    width: 100%;
	clear: both;
	padding: 80px 70px 0;
}
.body-members .members-title h2{
	font-family: 'Libre Caslon Display', sans-serif;
	text-align: center;
	font-size: 48px;
	text-transform: uppercase;
	margin-bottom: 30px;
}
.members-part{
    width: 100%;
    display: flex;
    align-items: center;
	justify-content: space-around;
}
.csn, .sabal, .sandra, .juju{
    width: 655px;
    display: inline-block;
    background-color: #FFFCF9;
    margin: 30px 0;
	display: flex;
    justify-content: space-between;
    align-items: center;
	box-shadow: 0 4px 8px rgb(0 0 0 / 12%), 0 6px 12px rgb(0 0 0 / 12%), 0 1px 16px rgb(0 0 0 / 12%);
}
.body-members img{
	width: 275px;
	height: 275px;
}
.members_text{
	margin: 0 23px;
}
.body-members h2{
	font-family: 'Roboto Flex', sans-serif;
	letter-spacing: 0.5px;
	font-size: 24px;
	margin-bottom: 15px;
}
.members_text p{
	font-family: 'Roboto Flex', sans-serif;
	line-height: 24px;
	font-size: 18px;
	text-align: justify;
}

/*Footer*/
.footer{
	background-color:  #322438;
	width: 100%;	
	font-family: 'Poppins', sans-serif;
}
.footer-top{
	width: 100%;
	color: #FFFCF9;
	display: flex;	
	justify-content: center;
	padding: 30px 80px;
}
.col-1{
	align-items: top;
	margin: 50px 0 50px 0;
	text-align: center;
	display: flex;
	justify-content: center;	
}
.col-1 div{
	align-items: center;
	margin: 0 90px 0 0;

}
.col-2{
	align-items: center;
	margin: 50px 60px 50px 0;
	text-align: center;
}
.col-3{
	align-items: center;
	margin: 50px 0 50px 180px;
	text-align: left;
}
.footer-top .col-1 a{
    text-decoration: none;
    display: block;
    margin-bottom: 5px;
	color: #FFFCF9;
	font-size: 15px;
	letter-spacing: 0.7px;
}
.footer-top p, address{
	margin-bottom: 5px;
	font-size: 15px;
	letter-spacing: 0.7px;
}
.footer-top h3{
    letter-spacing: 3px;
    font-weight: 600;
    margin-bottom: 40px;
	text-transform: uppercase;	
}
.footer-email{
    border: none;
    border-radius: 0;
    outline: none;
    width: 220px;
    height: 30px;
    text-align: center;
	margin-top: 10px;
	font-family: 'Poppins', sans-serif;
}
form button{
	width: 50px;
    height: 30px;
    border: 1px solid #FFFCF9;
    border-radius: 25px;
    background: transparent;
    color: #FFFCF9;
    font-size: 12px;
}
hr{
	width: 90%;
	margin: auto;
}
.footer-bottom{
	width: 100%;
	color: #FFFCF9;
	display: flex;	
	justify-content: space-between;
	padding: 20px 80px 40px 80px;
}
.footer-bottom img{
	width: 240px;
	height: 100px;
}
.left-text{
	float: right;
	margin: 0 0 0 20px;
}
.bottom-right{
	align-items: top;
}
.bottom-right a{
    text-decoration: none;

}
.bottom-right a i{
    font-size: 22px;
    margin: 0 5px;
    color: #f5eded;
	margin: 0 10px;
	font-size: 28px;
}
.bottom-right i:hover{
    color: #F49D89;
}